@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* Estilizando a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 3px;
    height: 0px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Cor do "polegar" da barra de rolagem */
    border-radius: 0px; /* Raio das bordas do "polegar" */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-image: #555555; /* Cor do "polegar" ao passar o mouse */
  }
  
  /* Estilizando a barra de rolagem horizontal (opcional) */
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgb(76, 0, 255), rgb(1, 247, 255)  , rgb(255, 255, 255), rgb(0, 255, 213)); /* Cor de fundo da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ddd; /* Cor de fundo da barra de rolagem ao passar o mouse */
  }
  









.left-menu-fixed {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    border-right: 2px solid transparent;
    border-image: linear-gradient(to bottom, rgb(76, 0, 255), rgb(1, 247, 255)  , rgb(255, 255, 255));
    border-image-slice: 1;
    height: 100%;
    background-color: black;
}
.my-name {
    background-color: rgb(6, 0, 42);
    box-sizing: border-box;
    padding: 5%;
}
.my-name img { 
    border-radius: 50%;
    border-top: 2px solid rgb(42, 123, 222);
    border-right: 2px solid rgb(0, 76, 255);
    border-bottom: 2px solid rgb(72, 72, 181);
    border-left: 2px solid rgb(0, 123, 255);
}
.ancorsd-page {
    display: flex;
    flex-direction: column;
}
.about {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
}

.about:hover  {
    background-color: rgb(51, 0, 255);
}
.technologies {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
}
.technologies:hover  {
    background-color: rgb(71, 42, 185);
}
.contact {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
    
}
.contact:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 0, 255);
}
.social {
    position: fixed;
    bottom: 0;
}


#about {
    margin-left: 300px;
    text-align: left;
    margin-right: 10%;
    margin-top: 10%;
}
.title {
    color: rgb(72, 0, 255);
}

.images-surgin {
    display: flex;
    margin-left: 300px;
    width: 80%;

}
.left-image {
   margin-top: 20%;
   margin-right: 100%;
   transition: 1s;
}
.left-image-toggle {
    margin-right: 5%;
    transition: 1s;
}
.right-image {
    margin-top: 30%;
    margin-left: 5%;
    transition: 1s;
}
.right-image-alinha {
    margin-top: 20%;
    margin-left: 0;
    transition: 330ms;
}
.left-image-alinha{
    margin-top: 20%;
    margin-right: 0;
    margin-bottom: 30%;
    transition: 330ms;
}

#technologies h1 {
    color: rgb(72, 0, 255);
    margin-left: 300px;
    font-size: 40px;
    margin-bottom: 5%;
}

.languages1, .languages2 {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}
.languages1 img, .languages2 img {
    margin: 10px;
}

.vasos {
    display: flex;
    margin-bottom: 20%;
    margin-top: 20%;
    margin-left: 300px;
    width: 70%;
}


.img-vs1 {
    margin-top: 15%;
    width: 25%;
    margin-right: 100%;
    transition: 3s all ease;

}
.img-vs2 {
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}
.img-vs3 {
    margin-top: 15%;
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}
.img-vs4 {
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}


.img-vs1-toggle {
    margin-top: 15%;
    width: 25%;
    margin-right: 0;
    transition: 3s;
    
}
.img-vs2-toggle {
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}
.img-vs3-toggle {
    margin-top: 15%;
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}
.img-vs4-toggle {
    margin-left: 2%;
    width: 25%;
    transition: 3s;
}
#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 102, 255), rgb(0, 255, 255), rgb(45, 45, 212), rgb(76, 0, 255));
    border-image-slice: 1;
    padding: 2%;
}
#contact a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-bottom: 2%;
    text-decoration: none;
    margin-bottom: 20%;
}
#contact a:hover {
    color: rgb(0, 76, 255);
}
.a-c {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.icon {
    display: inline-block;
    vertical-align: middle; /* Alinhar verticalmente ao meio */
    margin-right: 10px; /* Espaço entre o ícone e a palavra */
    color: #ffffff;
  }



.vasos img {
    border-radius: 10px;
}